<!-- Header -->
<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="index.html"><h2>E <em>-MART</em></h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home
            </a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/product">Our Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>

<!-- Pratik old -->
<!-- <div class="container">
    <div class="jumbotron">
        <h2>Header</h2>
        <a routerLink="/ayurveda">Ayurveda</a> | 
        <a routerLink="/imagetest">Image</a>
    </div>
    
</div> -->



<!-- <ngb-alert *ngIf="isOpen" (closed)="isOpen = false">I'm open</ngb-alert> -->

<!-- <div class="container">
    <div class="jumbotron">
      <h1>Welcome</h1>
      <h2>Angular & Bootstrap Demo</h2>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Status</div>
      <div class="panel-body">
        <h3>Emart</h3>
      </div>
    </div>
  </div> -->

