


<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
  </div>  
  <!-- ***** Preloader End ***** -->
  
  
  <router-outlet></router-outlet>
  



  
<!-- Pratik old -->

<!-- <app-header></app-header>
<div class="container">
    <h1>{{ title }}</h1>

    Home page...

    <table class="table table-bordered table-striped">
        <thead>
            <th> Product Image</th>    
            <th> Name</th>
            <th> Price ($)</th>
            <th> In Stock</th>
        </thead>
        <tbody>
            <tr *ngFor="let product of productData">
                <td> <img [src]= product.imageUrl alt= product.description></td>
                <td>{{ product.name}}</td>
                <td>{{ product.price}}</td>
                <td> {{ product.countInStock}}</td>
            </tr>

        </tbody>
    </table>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer> -->